<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="{{ fill author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification" content="Zlo3y-QuxkNW_lgXWhxwyZiY8D7M8bmou1LzgkulkPo">

  {{ if hasmath }} {{ insert head_katex.html }} {{ end }}
  {{ if hascode }} {{ insert head_highlight.html }} {{ end }}

  <link rel="stylesheet" href="/css/frank.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="icon" href="/images/profile/piano.jpg">

  {{ isdef title }} <title>{{ fill title }}</title> {{ end }}

</head>

<body>
    {{ isnotpage /index.md }}{{ insert header.html }} {{ end }}
<!-- Content appended here -->
